*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    text-align: center;
    font-family: sans-serif;
}

    .head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 63px;
        background-color: #171717;
        position: fixed;
        width: 100%;
        z-index: 100%;
    }

    .navbar {
        display: flex;
        margin-right: 10px;
    }

    .logo {
        margin-left: 30px;
    }

    .logo a {
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        font-size: 20px;
    }

    .navbar a {
        display: block;
        padding: 23px 20px;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 20px;
    }

    .navbar a:hover {
        background: #3f3f3f;
    }

    header {
        display: flex;
        justify-content: center;
        align-items: center;
    
    }

    .header {
        height: 60vh !important;
        background: url(https://www.google.ru/url?sa=i&url=https%3A%2F%2Fradionotas.com%2F2018%2F10%2F30%2Fque-tan-necesarias-son-las-disqueras-para-los-artistas%2F&psig=AOvVaw1AVoR6nfSwWnr3jNiuj6BR&ust=1685069743451000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCIC1_JO8j_8CFQAAAAAdAAAAABAE) no-repeat center;
        background-size: cover;
    }